<div>
        <a [routerLink]="['/addproject']"> Add_Project </a>
		<a [routerLink]="['/addtask']"> Add_Task </a>
		<a [routerLink]="['/adduser']">   Add_User</a>
		<a [routerLink]="['/home']">  View_Task</a>
		
	   
</div>
<div>
	
</div>
        
<h1 class="text-center">Add Project</h1>
<form>
    <div class="form">
      <div class="form-group col-md-6">
        <label for="projectname">Project</label>
        <input type="text" #projectname class="form-control" id="projectname" >
      </div>
      <div class="form-group col-md-6">
          <label for="priority">Priority</label>
          <input type="range" #priority min="1" max="50" value="10" 
          class="form-control" id="priority">
          
        </div>
      <div class="form-group col-md-6">
          <label for="manager">Manager</label>
          <input type="text" #manager class="form-control" id="manager">
      </div> 
	<div class="form-group col-md-6">    
		<label>
	<input type="checkbox" [(ngModel)]="showhidedate" class="form-control" [ngModelOptions]="{standalone: true}"/> Start Date & End Date
	</label>
	   </div> 
	   
	  
  <div class="form-group col-md-6" >
          <label for="startdate">Start Date</label>
          <input type="date" #startdate class="form-control" id="startdate">
      </div> 
  
      <div class="form-group col-md-6">
          <label for="enddate">End Date</label>
          <input type="date" #enddate class="form-control" id="enddate">
      </div> 
	 
  
    </div>
      <button type="button" class="btn btn-success" 
      (click)="addproject(projectname.value,priority.value,startdate.value,enddate.value)">Add Project</button>  
      <button type="reset" class="btn btn-warning" value=" Reset">Reset</button>
  
  </form>
  
  
  
<hr>
<br>
<hr>


<div class="row">

  <table class="table ">
  <thead class="thead-dark">
  <tr>
      <th scope="col">Task Name</th>
      <th scope="col">Priority</th>
       <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col"> </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let project of projects ; let i=index"  >

  <td>{{project.projectname}}</td>
  <td>{{project.priority}}</td>
  <td>{{project.startdate}}</td>
  <td>{{project.enddate}}</td>
  <td>

	
	  <button type="button" class="btn btn-dark" [disabled]="!project.flag"
      (click)="updateproject(project._id)" >Update</button>
  
    <button type="button" class="btn btn-success"  
     (click)="endproject(project.projectname,project.priority,project.startdate,project.enddate)" 
	 >SUSPEND</button>

	 </td>
  </tr>
  </tbody>
  </table>
</div>
